
* {
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
}

html,
body {
    margin: 0;
    font-family: 'Commissioner', sans-serif;    
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pattern {
    position: fixed;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(211, 0%, 96%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(0, 0%, 80%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(0, 0%, 80%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(0, 0%, 80%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(0, 0%, 80%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

::selection {
    color: #fff;
    background: #333;
}
body::-webkit-scrollbar {
    width: 0.8rem;
}
body::-webkit-scrollbar-track {
    background: #cfcfcf;
}
body::-webkit-scrollbar-thumb {
    background: #0000007a;
}
body::-webkit-scrollbar-thumb:hover {    
    background: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    padding: 2rem 1.2rem;
    width: 100%;
}

nav ul li {
    transition: .2s;
}


nav ul li:hover {
    cursor: pointer;
    font-weight: bolder;
    transform: scale(1.2);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px 10% 0 12%;
    padding: 5rem 0;
 
}


#my_img {
    float: right;
    margin: 15px 0 0 10%;
    width: 200px;
    height: auto;
}


article h1 {
    font-size: 1.8rem;
}

article h2 {
    margin-top: -15px;
    font-size: 1.2rem;
    font-weight: normal;
}

article span p {
    margin-top: 25px;
    width: 70%;
}

article span p, article span p strong {
    color: #444;
}



#socials_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 60%;
}

#socials_container button {
    cursor: pointer;
    outline: unset;
    background: unset;
    margin: 6px 6px 0 0;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 2px 5px 2px 8px;
    font-size: 14px;
}


.link_icons {
    margin-left: 5px;
    width: 9px;
    height: auto;
}


.mid_titles {
    margin: 70px 0 30px 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

#mid_bar p, #mid_bar strong {
    color: #444;
}

#skills_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px 20px 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}


.skills {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 0;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 0 15px;
    transition: .2s;
    
}

.skills:hover {
    margin: 0 20px 20px 0;
    transform: scale(1.2);
}

.skill_icons {
    fill: #111111;
    width: 20px;
    height: auto;
}

.skill_names {
    margin-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
}


.skill_years {
    margin-left: 25px;
    font-size: 11px;
    color: #888;
}



.project_containers {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 20px 30px;
}

.project_img {
    cursor: pointer;
    margin-right: 40px;
    border-right: 1px solid #d1d1d1;
    padding-right: 40px;
    width: 180px;
    height: auto;
    object-fit: contain;
}

.project_titles {
    font-size: 21px;
    font-weight: bold;
}

.project_description {
    color: #444;
    font-size: 15px;
}

.project_description button {
    cursor: pointer;
    outline: unset;
    background: unset;
    margin: 6px 6px 0 0;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 12px;
    color: #444;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #eaeaea;
    padding: 20px 12%;
    width: 100%;
}

#footer_links {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 70%;

}

#footer_links a {
    font-size: 15px;
    text-decoration: underline;

}

#copyright, #year {
    cursor: pointer;
    margin-top: 5px;
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
    color: #8a8a8a;
}

@media (max-width: 650px) {
    main {
        margin: 30px 5% 0 5%;
    }
        
    img {
        display: none;
    }

    .project_containers {
        padding: 20px 50px;
    }

    footer {
        padding: 12px 5%;
    }
}

